@model MEHR.Models.FoodLocation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>FoodLocation</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="/admin/FoodLocations/Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="LocationLatitude" class="control-label">LocationLatitude</label>
                    <input name="LocationLatitude" value="0" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="LocationLongitude" class="control-label">LocationLongitude</label>
                    <input name="LocationLongitude" value="0" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Icon" class="control-label">Icon</label>
                    <input name="Icon" value="0" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input name="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Description" class="control-label">Description</label>
                    <input name="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="PhoneNumber" class="control-label">PhoneNumber</label>
                    <input name="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                         @Html.DisplayNameFor(model => model.HasDelivery)
                    </label>
                    <input type="checkbox" name="HasDelivery" />
                </div>
                <div class="form-group">
                    <label for="SeasonStart" class="control-label">Season Start</label>
                    <input name="SeasonStart" type="date" value="2023-01-01" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="SeasonEnd" class="control-label">Season End</label>
                    <input name="SeasonEnd" type="date" value="2023-12-31" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeOpenMonday" class="control-label">TimeOpenMonday</label>
                    <input name="TimeOpenMonday" type="time" value="08:00" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeCloseMonday" class="control-label">TimeCloseMonday</label>
                    <input name="TimeCloseMonday" type="time" value="22:00" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeOpenTuesday" class="control-label">TimeOpenTuesday</label>
                    <input name="TimeOpenTuesday" type="time" value="08:00" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeCloseTuesday" class="control-label">TimeCloseTuesday</label>
                    <input name="TimeCloseTuesday" type="time" value="22:00" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeOpenWednesday" class="control-label">TimeOpenWednesday</label>
                    <input name="TimeOpenWednesday" type="time" value="08:00" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeCloseWednesday" class="control-label">TimeCloseWednesday</label>
                    <input name="TimeCloseWednesday" type="time" value="22:00" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeOpenThursday" class="control-label">TimeOpenThursday</label>
                    <input name="TimeOpenThursday" type="time" value="08:00" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeCloseThursday" class="control-label">TimeCloseThursday</label>
                    <input name="TimeCloseThursday" type="time" value="22:00" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeOpenFriday" class="control-label">TimeOpenFriday</label>
                    <input name="TimeOpenFriday" type="time" value="08:00" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeCloseFriday" class="control-label">TimeCloseFriday</label>
                    <input name="TimeCloseFriday" type="time" value="22:00" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

                <div id="FoodTable">
                    <h2>Foods</h2>
                    <input id="FoodCount" name="FoodCount" type="hidden" value="0" />
                </div>
            </form>
            <button onclick="increaseNr()">Add</button>
            <button onclick="decreaseNr()">Remove</button>
        </div>
    </div>

    <div>
        <a href="/admin/FoodLocations">Back to Overview</a>
    </div>


    <script>
        function increaseNr() {
            //Fetch data
            let element = document.getElementById("FoodCount");
            let nuNr = Number(element.getAttribute("value")) + 1;
            let parent = document.getElementById("FoodTable");
            
            //Generate new div and set attributes
            let baseline = document.createElement("div");
            baseline.setAttribute("id", "Food" + nuNr);
            baseline.setAttribute("class", "Food");
            //Append header
            let header = document.createElement("p");
            header.innerHTML = "Food " + nuNr + " :";
            baseline.appendChild(header);
            //Append name label
            let nameLbl = document.createElement("label");
            nameLbl.setAttribute("for", "FoodName" + nuNr);
            nameLbl.setAttribute("class", "control-label");
            nameLbl.innerHTML = "Name";
            baseline.appendChild(nameLbl);
            //Append name input
            let nameIn = document.createElement("input");
            nameIn.setAttribute("name", "FoodName" + nuNr);
            nameIn.setAttribute("class", "form-control");
            baseline.appendChild(nameIn);
            //Append tags label
            let tagsLbl = document.createElement("label");
            tagsLbl.setAttribute("for", "FoodTags" + nuNr);
            tagsLbl.setAttribute("class", "control-label");
            tagsLbl.innerHTML = "Tags";
            baseline.appendChild(tagsLbl);
            //Append tags input
            let tagsIn = document.createElement("input");
            tagsIn.setAttribute("name", "FoodTags" + nuNr);
            tagsIn.setAttribute("class", "form-control");
            baseline.appendChild(tagsIn);
            //Append lower label
            let lowerLbl = document.createElement("label");
            lowerLbl.setAttribute("for", "FoodLower" + nuNr);
            lowerLbl.setAttribute("class", "control-label");
            lowerLbl.innerHTML = "Price Lower";
            baseline.appendChild(lowerLbl);
            //Append lower input
            let lowerIn = document.createElement("input");
            lowerIn.setAttribute("name", "FoodLower" + nuNr);
            lowerIn.setAttribute("class", "form-control");
            lowerIn.setAttribute("value", "0");
            baseline.appendChild(lowerIn);
            //Append upper label
            let upperLbl = document.createElement("label");
            upperLbl.setAttribute("for", "FoodUpper" + nuNr);
            upperLbl.setAttribute("class", "control-label");
            upperLbl.innerHTML = "Price Upper";
            baseline.appendChild(upperLbl);
            //Append upper input
            let upperIn = document.createElement("input");
            upperIn.setAttribute("name", "FoodUpper" + nuNr);
            upperIn.setAttribute("class", "form-control");
            upperIn.setAttribute("value", "0");
            baseline.appendChild(upperIn);
            
            parent.appendChild(baseline);
            element.setAttribute("value", nuNr); //Increase food count
        }


        function decreaseNr() {
            //Fetch data
            let element = document.getElementById("FoodCount");
            let val = Number(element.getAttribute("value"));
            if (val < 1) return; //Don't do anything if no foods are present
            document.getElementById("Food" + val).remove(); //Remove element
            element.setAttribute("value", val - 1); //Reduce food count
        }
    </script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
